<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
      <!-- This is a change in my code, git please recognize me! -->
      <!-- This is a change in my code, git please recognize me! -->
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>